.main{
    text-align: center;
    margin: auto;
    background-color: hsl(0, 5%, 84%);
    border: 5px solid black;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}
#submit{
    margin: 3px;
    background-color: blue;
    border: none;
    border-radius: 5px;
}
#submit:hover{
    background-color: green;
    cursor: pointer;
}